<div id="navbar">
    <div id="items">
        <img class="logo" [src]="logoPath"/>
        <button class="btn">Mobiles</button>
        <button class="btn">Laptops</button>
        <button class="btn">Perfumes</button>
        <button class="btn">Studio</button>
        <button class="btn">Skincare</button>
        <input class="search" type="text" placeholder="Search for products items and more"/>
        <i class = "pi pi-user"></i>
        <i class = "pi pi-shopping-bag"></i>
        <i class = "pi pi-shopping-cart"></i>


    </div>
</div>